
Nueva carpeta/.cproject
Nueva carpeta/.mxproject
Nueva carpeta/STM32F401RETX_FLASH.ld
Nueva carpeta/STM32F401RETX_RAM.ld
Nueva carpeta/.settings/language.settings.xml
Nueva carpeta/.settings/stm32cubeide.project.prefs
.gitattributes
